nav ul {
    padding-left: 0;
    display: inline;
    margin-right:0.3in;
    margin-bottom: 20px;
    color: navy;
    text-decoration:none;
    text-align: center;
    outline:none;
    left: 5in;
   
}

nav li {
    display: inline;
}